<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Bike Details Add</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/js/bootstrap.bundle.min.js"
        integrity="sha512-43iShtbiyImxjjU4a9rhXBy7eKtIsrpll8xKhe1ghKqh5NyfME8phZs5JRFZpRBe1si44WM3tNmnqMym7JRmDQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/css/bootstrap.min.css"
        integrity="sha512-aqT9YD5gLuLBr6ipQAS+72o5yHKzgZbGxEh6iY8lW/r6gG14e2kBTAJb8XrxzZrMOgSmDqtLaF76T0Z6YY2IHg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <navbar class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a href="/" class="navbar-brand fs-1"><i class="fa fa-code m-2"></i>CRUD Operation</a>

            <button class="navbar-toggler" data-bs-target="#my-nav" data-bs-toggle="collapse" aria-controls="my-nav"
                aria-expanded="false" aria-label="navbar-toggler-icon"><span
                    class="navbar-toggler-icon"></span></button>
            <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto ">
                    <li class="navbar-item ">
                        <a class="nav-link" href="/"><i class="fa fa-home px-3"></i> <b>Home</b></a>
                    </li>
                   
                    <li class="navbar-item ">
                        <a class="nav-link" href="/login"><i class="fa fa-sign-in-alt px-3"></i><b>Login</b> </a>
                    </li>
                    <li class="navbar-item ">
                        <a class="nav-link" href="/Register"><i class="fa fa-registered px-3"></i><b> Register</b></a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" href="/addNew"><i class="fa fa-plus px-3"></i><b>Add New</b></a>
                    </li>
                </ul>
            </div>
        </div>
    </navbar>
    <section class="newUser">
        <div class="container">
            <div class="card align-content-center m-3" style="width:500px">
                <div class="card-body bg-gradient ">
                    <h1 class="form-group text-center"><b>Add New Bike Details</b> </h1>

                    <form action="/api/users" class="form-group" id="add_User" method="POST">
                        <div class="form-group py-3">
                            <label for="name"> Bike Name</label>
                            <input type="hidden" class="form-control " name="Id" value="">
                            <input type="text" class="form-control " value="" id="name" name="name" placeholder="@hero"
                                required>

                        </div>
                        <div class="form-group py-1">
                            <label for="price"> Price</label>
                            <input type="text" class="form-control " value="" id="price" name="price"
                                placeholder="$0000" required>

                        </div>
                        <div class="form-group  py-1">
                            <label for=" color"> Color</label>
                            <input type="text" class="form-control " value="" id="color" name="color" placeholder="red"
                                required>

                        </div>
                        <div class="mb-3 d-grid">
                            <input type="submit" class="btn btn-danger py-2 m-3">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>
</body>

</html>