
.cascading-right {
    margin-right: -50px;
  }

  @media (max-width: 991.98px) {
    .cascading-right {
      margin-right: 0;
    }
  }
.Register{
height:200px;
/* width:800px; */
}
.Login{
  height:300px;
width:800px;
}
/*====================================================Home page========================================= */
.count1{
  font-size: 90px;
}